.modules/
.resource_types/
bolt-debug.log
.plan_cache.json
.plugin_cache.json
.task_cache.json
.rerun.json
.vagrant
/modules/apache
/modules/apt
/modules/firewall
/modules/inifile
/modules/postgresql
/modules/puppetdb
/modules/stdlib
/modules/systemd

